html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}*/

.banner{
  background: black;
  background-image: url('./img/fondo1.jpg');
  background-color: rgb(30,30,50);
  background-blend-mode: soft-light;
  background-size: cover;
  color: white;
  display:flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h2{
   font-family:'Courier New', Courier, monospace;
   font-size: 40px;
   text-transform: uppercase;
}
.banner p{
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}
.progress-bar{
  background-color: #EAEAEA;
  height: 25px;
  width: 350px;
  margin: 30px ;
  margin-bottom: 70px;
  border-radius:5px;
}
.progress-bar span{
  display: inline-block;
  height:100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset;
  transition: width .4 ease-in-out;
  background: #ccc;
}
.blue span{
   background-color: #0074B4;
}
.stripes span {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);            

  animation: animate-stripes 3s linear infinite;             
}
@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

/**** SHINE ****/
.shine span {
  position: relative;
}

.shine span::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 3px;
  animation: animate-shine 2s ease-out infinite;             
}

@keyframes animate-shine {
  0% {opacity: 0; width: 0;}
  50% {opacity: .5;}
  100% {opacity: 0; width: 95%;}
}


.red-social{
   padding:2px;
   display:inline-flex;
   font-size: 30px;
   list-style: none;
}
.red-social li{
  font-size: 1px;
  margin:10px;
  border:2px solid white;
  border-radius: 70%;
}
.nav-background{
  background: #030933;
  transition: 0.5s
}
.nav-transparent{
  background: linear-gradient(to left, rgba(16,16,20,.3), rgba(16,16,56,.3)) ;
  transition: 0.5s
  /*background: transparent*/
}
.btn{
   font-size: 18px;
   padding: 15px 26px;
   min-width: 160px;
   display: inline-block;
}
.btn-light{
   background: white;
   color: black;
}
.btn-border{
  border: 2px solid white !important;
  color: white !important;
}
.btn-border:hover{
  background: white;
  color: black !important;
}
.navbar{
  min-height: 100px;
}
.navbar a{
  color: white !important;
}
.navbar ul li a:hover{ 
  /*background: gray !important;*/
  color: skyblue !important;
}
.navbar-nav{
  padding: 0 6px;
}
.red-social ion-icon{
   color: white;
   font-size: 21px;
   padding: 12px;
}
.red-social ion-icon:hover{
   /*background: gray;*/
   color: skyblue !important;;
}
#intro{
   background-image: url('./img/fondo1.jpg');
   background-color: rgb(30,30,50);
   background-blend-mode: soft-light;
   background-size: cover;
   padding-top: 235px;
   min-height: 620px;
}
#intro p{
  font-size: 22px;
}

.content-center{
   max-width:800px;
   margin: 0 auto 60px auto;
   text-align: center;
   color: white;
}
#sec-1{
   /*background-image: url('./img/fondo4.jpeg');*/
   background-size: cover;
   background-color:#E3E3E3;
   background-blend-mode: soft-light;
   padding: 12px;
   padding-top: 55px;
}
#sec-1 .content-center{
   color: black !important;
}
#sec-services{
  margin: 50px;
}
.card-i{
  margin: 20px 0px;
}
.card-i h4,p{
  text-align: center !important;
}
.card-item{
  margin: 0 2px;
  border-bottom: 8px solid #030933 !important;
  border-radius: 0px !important;
  min-height: 400px !important;
}
#sec-portfolio{
  background-color: #E3E3E3;
  padding: 40px;
}

.acc-item{
  background-color: #030933 !important;
  border: none !important;
  margin: 8px;
}
.acc-item button{
  color: white !important;
  text-decoration: none;
  border:none !important; 
}
.acc-item button:focus{
  outline-style: dotted !important;
}

.acc-item-description{
  background: white !important;
  border: 1px solid black !important;
}
@media screen and (max-width:530px){
   .banner h2{
     text-align: center;
   }
}